							<div class="alert alert-info">
											
									
								
									<h3 class="no-margin">jQuery HighchartTable</h3>
								    <h5>Convert your HTML data tables into fancy Highcharts graphs without any coding!</h5>
									<ul>
										<li>The HighchartTable plugin takes data and attributes from a table and parses them to simply create an Hightcharts chart</li>
										<li>Control the graph dynamically and easily without any javascript</li>
										<li>Builds automatically during page load, all you need to do is load the plugin</li>
										<li>See the full documentation <a href="http://highcharttable.org/#documentation" target="_blank"><strong>here <i class="fa fa-link"></i> </strong> </a></li>
									</ul>
								
									
							
							</div>